USE [master]
GO
/****** Object:  Database [AdoNet]    Script Date: 15/01/2021 14:42:20 ******/
CREATE DATABASE [AdoNet]
 CONTAINMENT = NONE

ALTER DATABASE [AdoNet] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AdoNet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AdoNet]
GO
/****** Object:  Table [dbo].[clients]    Script Date: 15/01/2021 14:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clients](
	[id] [int] NOT NULL,
	[nom] [varchar](100) NULL,
	[prenom] [varchar](100) NULL,
	[adersse] [varchar](250) NULL,
	[ville] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
